<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MemberHomeActivity"/>
        <activity android:name=".MemberSettingsActivity"/>
        <activity android:name=".MemberBookCatalogueActivity"/>
        <activity android:name=".MemberPersonalInformationActivity"/>
        <activity android:name=".MemberBookRequestsActivity"/>

        <activity android:name=".StaffHomeActivity"/>
        <activity android:name=".StaffSettingsActivity"/>
        <activity android:name=".StaffManageCatalogueActivity"/>
        <activity android:name=".StaffManageBookActivity" />
        <activity android:name=".StaffManageMembersActivity"/>
        <activity android:name=".StaffManageBookRequestsActivity"/>

    </application>
</manifest>